body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 4rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Arial', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
}

.middle-container {

}

.bottom-container {
background-color: #E4F9F5;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}
